<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/singer/input_musicpro" enctype="multipart/form-data"><br>
      [음방정보추가]<br>
      mp_name : <input type="text" name="mp_name" /><br>
      s_id : <input type="text" name="favorite_vote" /><br>
      sms_vote : <input type="text" name="sms_vote" /><br>
      call_vote : <input type="text" name="call_vote" /><br>
      online_vote : <input type="text" name="online_vote" /><br>
      mp_time : <input type="text" name="mp_time" /><br>
      fav_period : <input type="text" name="fav_period" /><br>
      vote_method : <input type="text" name="vote_method" /><br>
      mp_img : <input type="file" name="mp_img" /><br>
      what_week : <input type="text" name="what_week" /><br>
      
      <input type="submit" value="submit" />
    </form>

    <br>
    <br>
  </body>
</html>
